EXPO_PUBLIC_APP_ENV=production
EXPO_PUBLIC_API_URL=https://doesangue.ao
EXPO_PUBLIC_AUTH_MODE=supabase
EXPO_PUBLIC_DATA_MODE=supabase
EXPO_PUBLIC_PUSH_MODE=expo
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
